@model Project1.UI.ViewModels.IndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Accounts</h1>

<p>
    <a asp-action="Create">Create New Account</a>
</p>
<br />

<h3>Business Accounts</h3>
@Html.Partial("../Shared/_AccountList.cshtml", Model.BusinessAccoutns)
<h3>Checking Accounts</h3>
@Html.Partial("../Shared/_AccountList.cshtml", Model.CheckingAccounts)