@model Project1.UI.ViewModels.TransferVM

<h1>Transfer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountIDFrom" class="control-label"></label>
                <input asp-for="AccountIDFrom" class="form-control" disabled />
                <span asp-validation-for="AccountIDFrom" class="text-danger"></span>
            </div>
            <div>
                Your accounts:
                <ul>
                    @foreach (var item in Model.Accounts)
                    {
                        if (!item.IsClosed)
                        {
                            <li>
                                @item.Id: @item.NickName
                            </li>
                        }
                    }
                </ul>
            </div>
            <label asp-for="AccountIDFrom" class="control-label"></label>
            @Html.DropDownListFor(m => m.AccountIDTo,
               new SelectList(Model.Accounts, "Id", "Id"), "Select account to transfer to")
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
