@model Project1.Models.TermDeposit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h3>TermDeposit</h3>
<h4>Term Deposits earn 5% compound interest per term year (Up to 10 years).</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermYears" class="control-label"></label> (Between 1 to 10 years)
                <input asp-for="TermYears" class="form-control" />
                <span asp-validation-for="TermYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

